<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0,viewport-fit=cover">
    <title>form</title>
    <link rel="stylesheet" href="../../style/seaui.css"/>
    <link rel="stylesheet" href="../example.css"/>
    <script src="../mui.min.js"></script>
    <script src="../example.js"></script>
</head>
<body>
    <form class="mui-input-group">
        <div class="mui-input-row">
            <label>用户名</label>
            <input type="text" class="mui-input-clear mui-input" placeholder="请输入手机号或用户名">
        </div>
        <div class="mui-input-row password">
            <label>密码</label>
            <input type="password" class="mui-input-clear mui-input mui-input-password" placeholder="请输入密码">
        </div>
    </form>
    <div class="mui-content-padded">
        <button class="seaui-btn seaui-btn-theme seaui-btn-medium seaui-btn-block" data-loading-text="提交中">登录</button>
    </div>
</body>
</html>